<div class="col-md-12 bg-blue pb-1 pt-0 float-left"></div>
<div class="col-md-12 pt-1 mb-4 bg-white border-header float-left" >
  <div class="col-md-10 mx-auto" > 

  <div class="col-md-6 float-left text-left" > <img src="assets/images/logo-rch.png"  alt="logo" class="img-responsive h-pointer"  (click)="changePage()"></div>
  <div class="col-md-6 float-left text-right mt-3" > <img src="assets/images/nhm-logo.png"  alt="logo" class=" mr-3">  <img src="assets/images/digital-logo.png"  alt="logo" class="ml-2 ">  </div>

</div>
</div>
<div class="card mx-auto col-md-7   login-card mb-5">
    <div class=" no-gutters col-md-12 float-left">
        <div class="col-md-12 float-left">
            <div class="float-right"> <a href="/login"> <button type="submit"  class=" bg-info text-white float-left mt-3 radius-p text-12 border border-info"> Back to  Login page </button> </a></div>
            <div class="col-md-12 float-left mt-2 pl-0 pr-0 ">
                
                <p class="login-card-description  bg-primary text-white pt-2 pb-2 pl-2 ">Forgot Password </p>
				
				<ngb-alert type="danger" *ngIf="!showCaptchVerifiedMsgWrong" (close)="showCaptchVerifiedMsgWrong=true" ><div class="error_msg"><div class="error_msg1">Wrong Captcha Code</div></div></ngb-alert>
				
				<ngb-alert type="danger" *ngIf="!showNotFoundMsg" (close)="showNotFoundMsg=true" ><div class="error_msg"><div class="error_msg1">User with given profile does not exist</div></div></ngb-alert>
				
				

                <form [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm)" autocomplete="off" class="mx-auto text-13">



                    <div class="form-group col-md-12 float-left">
                        <label for="staticEmail" class="col-sm-5 col-form-label text-label text-right float-left">User ID : <span> * </span></label>
                        <div class="col-sm-5 float-left">
                            <input type="text" class="form-control" id="username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback error_msg">
                                <div class="error_msg1" *ngIf="f.username.errors.required">User ID is required</div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group col-md-12 float-left">
                        <label for="inputPassword" class="col-sm-5 col-form-label text-label text-right float-left">Gender : <span> * </span></label>
                        <div class="col-sm-5 float-left">
                            <select class="form-control" id="genderid" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                        <option value="">Select </option>
                        <option value="M">Male </option>
                        <option value="F">Female</option>
                        <option value="T">Transgender</option>
                      </select>
                            <div *ngIf="submitted && f.gender.errors" class="invalid-feedback error_msg">
                                <div class="error_msg1" *ngIf="f.gender.errors.required">Gender is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 float-left">
                        <label for="inputPassword" class="col-sm-5 col-form-label text-label text-right float-left">Date of Birth :<span> * </span></label>
                        <div class="col-sm-5 float-left">
                            <div class="col-md-12 pl-0 pr-0">  
							
							<!--<input id="dobid" class="form-control text-right pr-4" type="text" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" formControlName="dob" ngbDatepicker #d="ngbDatepicker" [readonly]="true" [minDate]="{year: 1955, month: 1, day: 1}"
                [maxDate]="{year: 2005, month: 12, day: 31}" /> -->
				
				<input id="dobid" class="form-control text-right pr-4" type="text" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" formControlName="dob" ngbDatepicker #d="ngbDatepicker" [readonly]="true" [maxDate]="maxDate" [minDate]="minDate" [startDate]="startDate" />
				
                                <div class="font-icon pl-4" (click)="d.toggle()"> <i class="fa fa-calendar"></i> </div>
								
								<div *ngIf="submitted && f.dob.errors" class="invalid-feedback text-label error_msg">
                                <div class="error_msg1" *ngIf="f.dob.errors.required">DOB is required</div>
                            </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="form-group col-md-12 float-left">
                        <label for="inputPassword" class="col-sm-5 col-form-label text-label text-right float-left">Mobile No. :<span> * </span></label>
                        <div class="col-sm-5 float-left">
                            <input id="mobno" class="form-control text-right" type="text" formControlName="mobno" [ngClass]="{ 'is-invalid': submitted && f.mobno.errors }">
                            <div *ngIf="submitted && f.mobno.errors" class="invalid-feedback error_msg">
                                <div class="error_msg1" *ngIf="f.mobno.errors.required">Mobile no is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 float-left">
                        <label for="inputPassword" class="col-sm-5 col-form-label text-label text-right float-left">Email :<span> * </span></label>
                        <div class="col-sm-5 float-left">
                            <input id="emailid" class="form-control" type="text" formControlName="emailid" [ngClass]="{ 'is-invalid': submitted && f.emailid.errors }">
                            <div *ngIf="submitted && f.emailid.errors" class="invalid-feedback error_msg">
                                <div class="error_msg1" *ngIf="f.emailid.errors.required">Email Id is required</div>
                                <div class="error_msg1" *ngIf="f.emailid.errors.pattern">Email Id is not correct</div>
                            </div>
                        </div>
                    </div>
					
					<div class="form-group col-md-12 float-left">
            <label for="staticEmail" class="col-sm-5 col-form-label text-label text-right float-left"></label>

             <div class="col-sm-6 float-left">
 
 <canvas #canvasEl width=100 height=50 class="float-left"></canvas>
 <i class="fa fa-refresh text-16 float-left mt-3 h-pointer ml-2" aria-hidden="true" (click)="changeCaptcha()"></i>
 

                
            </div>


        </div>
					
					<div class="form-group col-md-12 float-left">
          <label for="staticEmail" class="col-sm-5 col-form-label text-label text-right float-left">Captcha : <span> * </span></label>

           <div class="col-sm-5 float-left">

              <input type="text" id="capthaid" class="form-control" formControlName="capctha" [ngClass]="{ 'is-invalid': submitted && f.capctha.errors }">

<div *ngIf="submitted && f.capctha.errors" class="invalid-feedback error_msg">
                  <div class="error_msg1" *ngIf="f.capctha.errors.required">Captcha is required</div>
              </div>
          </div>


      </div>
					
                    <div class="form-group row">
                        <div class=" mx-auto">


                            <button type="submit" class="btn btn-block login-btn mb-4 radius-p">Submit</button>




                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="col-md-12 float-left mt-4 mb-4" ></div>
</div>
<div class="col-md-12 float-left mt-4 mb-4" ></div>
<app-footer></app-footer>