<div class="col-md-12 bg-blue pb-1 pt-0 float-left"></div>
<div class="col-md-12 pt-1 mb-4 bg-white border-header float-left" >
  <div class="col-md-10 mx-auto" >

  <div class="col-md-6 float-left text-left" > <img src="assets/images/logo-rch.png"  alt="logo" class="img-responsive h-pointer"  (click)="changePage()"></div>
  <div class="col-md-6 float-left text-right mt-3" > <img src="assets/images/nhm-logo.png"  alt="logo" class=" mr-3">  <img src="assets/images/digital-logo.png"  alt="logo" class="ml-2 ">  </div>

</div>
</div>
<div class="card mx-auto col-md-8   login-card mb-5 mt-1">
    <div class=" no-gutters col-md-12 float-left">
        <div class="col-md-12 float-left">
            <div class="float-right"> <a href="/login"> <button type="submit"  class=" bg-info text-white float-left mt-3 radius-p text-12 border border-info"> Back to  Login page </button> </a></div>
            <div class="col-md-12 float-left mt-2 pl-0 pr-0 ">                
              <p class="login-card-description  bg-primary text-white pt-2 pb-2 pl-2 ">Linking Policy  </p>
              <p  class="mb-5 pb-5 text-justify">   
                At many places in this Portal, you shall find links to other websites/portals. These links have been placed for your convenience. NIC is not responsible for the contents and reliability of the linked websites and does not necessarily endorse the views expressed in them. Mere presence of the link or its listing on this Portal should not be assumed as endorsement of any kind. We can not guarantee that these links will work all the time and we have no control over availability of linked pages.
               </p>
            </div>
        </div>
    </div>
    <div class="col-md-12 float-left mt-4 mb-4" ></div>
</div>
<div class="col-md-12 float-left mt-4 mb-4" ></div>
